<!DOCTYPE html>
<html>
<head>
	
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>
</head>

<body>
	
<div class="ui one row stackable center aligned page grid">
  <div class="column five wide">

    <h1 class="ui header"><br><br><br><br><br><br><br><br>Enjoy your visit, {{name}}.<br><br><br></h1>

  </div>

{% if language=='english' %}
    {{name}} is sick.
{% elif language=='german' %}
    You killed Kenny!  You bastard!!!
{% elif language=='french' %}
    You killed Kenny!  You bastard!!!
{% else %}
    Kenny looks okay --- so far
{% endif %}

</body>
</html>
